<!DOCTYPE HTML>
<html>
<head>
    <title>ColonIA</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/main.css" rel="stylesheet" />
    <link href="Assets/css/main.css" rel="stylesheet" />


</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            @RenderBody()
        </div>

        <!-- Sidebar -->
        <div id="sidebar" class="inactive">
            <div class="inner">

                <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <a href="@Url.Action("Index","Home")"><h2>Menu</h2></a>
                    </header>
                    <ul>
                        <li>
                            <span class="opener">Usuario</span>
                            <ul>
                                <li><a href="@Url.Action("PerfilUsuario", "User")">Perfil</a></li>
                                <li><a href="@Url.Action("UsuariosAdmin", "User")">Administrador</a></li>
                                <li><a href="#">Operador</a></li>
                                <li><a href="@Url.Action("UsuariosSupervisor", "User")">Supervisor</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener">Produccion</span>
                            <ul>
                                <li><a href="@Url.Action("Incubacion", "Produccion")">Incubacion</a></li>
                                <li><a href="@Url.Action("Crianza","Produccion")">Crianza</a></li>
                                <li><a href="@Url.Action("Cosecha","Produccion")">Cosecha</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener">Analisis</span>
                            <ul>
                                <li><a href="@Url.Action("AnalisisAI", "Analisis")">Vista General</a></li>
                                <li><a href="@Url.Action("AnalisisChat", "Analisis")">Chat</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener">Calidad</span>
                            <ul>
                                <li><a href="@Url.Action("Index","Calidad")">Calidad</a></li>
                                <li><a href="@Url.Action("Index","Contador")">Finanzas</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener">Inventario</span>
                            <ul>
                                <li><a href="@Url.Action("Recursos","Inventario")">Recursos</a></li>
                                <li><a href="@Url.Action("HistorialRecursos","Inventario")">Historial Recursos</a></li>
                                <li><a href="@Url.Action("HistorialInventario","Inventario")">Historial Invetario</a></li>
                                <li><a href="@Url.Action("Categorias","Inventario")">Categorias</a></li>
                                <li><a href="@Url.Action("AsignarRecurso","Inventario")">Asignar Recurso</a></li>
                            </ul>
                        </li>

                        <li><a href="@Url.Action("Login", "User")">Iniciar Sesión</a></li>
                        <li style="color: #fc4040;"><a href="#">Cerrar Sesión</a></li>
                    
                    </ul>
                </nav>
            </div>
        </div>

    </div>

    <!-- Scripts -->


    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/browser.min.js"></script>
    <script src="~/Assets/js/breakpoints.min.js"></script>
    <script src="~/Assets/js/util.js"></script>
    <script src="~/Assets/js/main.js"></script>

    <script src="~/Content/bootstrap.bundle.min.js"></script>




</body>
</html>